<html lang="en">
  <head>
    <title>The Blog: Email Verification</title>
  </head>
  <body>
    <h1>Halo, {{username}}! Welcome to The Blog.</h1>
    <p>Click the button below to verify your account.</p>
    <a href={{link}} target="_blank">
      <button>
        Verify
      </button>
    </a>
  </body>
</html>